/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */
.container { 
    width: 100%;
    margin-bottom: 50px;
}

.title{
    text-align: center;
}

table {
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    table-layout: fixed;
}

th.name th.price{
    max-width: 300px;
}

th.iconcolumn{
    width: 50px;
}

table thead tr {
    background-color: #131186;
    color: #ffffff;
    height: 30px;
    text-align: center;
}

tbody td,
tbody th {
    padding: 12px 24px;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #ececec;
}

.error-row {
    background-color: rgb(255, 179, 179) !important; 
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #131186;
}

table tbody tr:hover {
    font-weight: bold;
    color: #131186;
    background-color: #d4d3ff;
}

/* For Icon styling */

.icon{
    /* width: 60px; */
    margin: auto auto auto auto;
}

/* Edit Page */

.form, .newmedicineform{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto 0 auto;
    gap: 5px;
}